.footer-container{
    color: white;
    background: linear-gradient(90deg, rgb(241, 70, 70) 10%, rgba(255,23,23,1) 27%);
    width: 100%;  
    display: flex;
    min-width: 1000px;
    margin-top: 100px;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
 
}
.footer-content{
    margin-left: 100px;
    margin-bottom: 80px;
    width: 100%;
}
.footer-author{
    margin-right: 220px;
    margin-top: 176px;
    justify-content: flex-end;
    width: 400px;
}