.fav-card{
    background: linear-gradient(140deg, rgba(57,56,56,1) 10%, rgba(33,29,29,1) 40%);
    min-width: 600px;
    max-width: 600px;
    border-radius: 20px;
    height: fit-content;
    margin: 20px;
    color: white;
    display: flex;
    padding: 20px;
  
}
.map-container{
    margin: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.fav-name{
    margin-left: 20px;
    margin-top: 8px;
}
.title-pic{
    margin-top: 0px;
}
.fav-description{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 80px;
}
.desc-p{
    margin-top: 8px;
    margin-left: 10px;
}
.red-click{
    background-color: red;
    width: fit-content;
    top: 100px;
    right: -50px;
    height: 60px;
    width: 60px;
    padding: 2px;
    text-align: center;
    border-radius: 30px;
    
}
.unfav-btn{
    align-content: center;
    background-color: rgb(214, 23, 23);
    border-radius: 20px;
    text-align: center;
}